<h1>lorep ipsum dolor sit amet</h1>

<form action="/test/add" method="post">
    <label for="nama">Nama:</label>
    <input type="text" id="nama" name="nama"><br>
    <label for="nim">NIM:</label>
    <input type="text" id="nim" name="nim"><br>
    <label for="kelas">Kelas:</label>
    <input type="text" id="kelas" name="kelas"><br>
    <label for="status">Status:</label>
    <input type="radio" id="status" name="status" value="hadir">Hadir<br>
    <input type="radio" id="status" name="status" value="tidak hadir">Tidak Hadir<br>
    <input type="submit" value="Submit">
</form>
